.title-background {
	width: inherit;
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
	color: white;
	background: linear-gradient(
		rgb(77, 71, 69),
		rgb(66, 60, 56),
		rgb(43, 38, 35),
		rgb(31, 27, 25),
		rgb(28, 25, 23),
		rgb(28, 25, 23)
	);
}

.projects-screen {
	height: 50%;
	background-color: rgb(28, 25, 23);
}

.container {
	height: 100%;
	min-height: 1090px;
	width: inherit;
	overflow-x: hidden;
}

.title-content {
	color: white;
	z-index: 1;
}

.sphere1 {
	position: absolute;
	top: -10%;
	left: -5%;
	display: block;
	background: black;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0;
	background: radial-gradient(circle at 70px 70px, rgb(255, 253, 252), #000);
}

.sphere2 {
	position: absolute;
	top: 25%;
	right: -13%;
	display: block;
	background: black;
	border-radius: 50%;
	height: 500px;
	width: 500px;
	margin: 0;
	z-index: 1;
	background: radial-gradient(circle, rgb(179, 171, 163), #000);
}

.header {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 30px;
	top: 3%;
	right: 10%;
}

button {
	background: transparent;
	color: white;
	border-radius: 3ch;
	border-color: transparent;
	font-size: large;
	transition: all 0.05s;
}

button:hover {
	cursor: pointer;
	text-shadow: 0 0 15px white;
	transform: scale(1.1);
}
